:root {
  --back-color: #dadbdf;
  --font-color: #e5eaf1;
  --grid-padding: 30px;
  --main-color: #f5f8f8;
}

/* Hero section styling and background image */
.hero {
  align-items: flex-end;
  display: flex;
  justify-content: space-around;

}

.hero-background {
  
  background: transparent url("hero-san-carlos.jfif") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100px;
  float: left;
  opacity: 0.6;
}

.hero-background:hover{
  opacity: 1;
}

/* Hero h2 styling and flex container settings */
.hero h1 {
  /* background-color: var(--main-color); */
  /* display: flex; */
  /* font-size: x-large; */
  color: white;
  justify-content: left;
  margin-bottom: 10px;
  text-align: right;
  position: absolute;
  top: 5px;
  left: 70%;
  opacity: 0.9;
  /* Remove inherited opacity:  */
  filter: alpha(opacity=100);
  /* set text border */
  border: 2px solid var(--back-color);
  border-radius: 5px;
  padding: 10px;
  padding-left: 40px;

}

#mypicture {
  opacity: 1.0;
  /* Remove inherited opacity:  */
  background-color: var(--back-color);
  filter: alpha(opacity=100);
  border-radius: 50%;
  border: solid var(--main-color);
  height: 130px;
  width: 130px;
  margin-bottom: 10px;
  position: absolute;
  top: 60px;
  left: 20px;
  padding: 10px;
}

/* Title class styling for about.me, .my-work and .contact-me sections */
.title {
  border-right: 5px solid var(--font-color);
  max-width: 20%;
  min-height: 100%;
  min-width: 20%;
  padding-right: 40px;
  text-align: right;
}

/* Title class h2 styling */
.title h2 {
  color: var(--font-color);
  font-size: 48px;
}